@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RichTheBarber';
  src: url('/fonts/RichTheBarber.ttf') format('truetype'); /* Font from the public folder */
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'RichTheBarber', Arial, Helvetica, sans-serif; /* Use the RichTheBarber font globally */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}