.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: auto; /* Allow height to adjust based on content */
  text-align: center; /* Center text */
  margin-top: 0; /* Removed negative margin */
}

.logoContainer {
  margin-bottom: 20px;
}

.logoContainer img {
  max-width: 90%; 
  height: auto;
  margin-left: 23px;  
}

.textContainer {
  text-align: center; /* Ensure text is centered */
  margin: 0; /* Center align the text container */
}

.textContainer h1 {
  font-size: 2rem;
  margin: 10px 0;
}

.textContainer p {
  font-size: 1.2rem;
  color: #666;
}

@media (orientation: landscape) {
  .container {
      margin-top: 0; /* Ensure no margin in landscape */
  }

  .logoContainer {
      margin-bottom: 10px; 
  }

  .textContainer h1 {
      font-size: 1.8rem; 
  }

  .textContainer p {
      font-size: 1rem; 
  }
}