.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px; /* Further reduce vertical and horizontal padding */
  background-color: #333;
}

.logo {
  font-size: 36px; /* Reduce the font size for a smaller logo */
  color: #fff;
  text-decoration: none;
  font-family: 'RichTheBarber', Arial, Helvetica, sans-serif;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 10px; /* Reduce the gap between navigation items */
}

.navItem {
  position: relative;
}

.navLink {
  padding: 2px 8px; /* Minimize padding for more compact links */
  background-color: #444;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-size: 30px; /* Reduce font size for the navigation links */
  font-family: 'RichTheBarber', Arial, Helvetica, sans-serif;
  line-height: 1;
}

.navLink:hover {
  background-color: #555;
  color: #ffcc00;
  border: 2px solid #888;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.6);
}